@import '../../../variables';
@import '../../../animations';

#front {
    height: 65vh;
    min-height: -webkit-fill-available;
    background: url('/assets/special-offers-front.jpeg') no-repeat center center;
    background-size: cover;
    z-index: 996;
}

.special-offers-container {
    padding: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .special-offers {
        width: min(90vw, 60rem);

        .special-offer {
            display: flex;
            flex-direction: row;

            .special-offer-images {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }

                >.multiple {
                    display: flex;
                    flex-direction: column;
                    font-size: 4rem;
                    color: #78787B;

                    @include media-breakpoint-up(lg) {
                        flex-direction: row;
                    }

                    >*:not(:last-child) {
                        padding-right: .5rem;
                    }
                }
            }

            .special-offer-details {
                @include media-breakpoint-up(lg) {
                    padding-top: .5rem;
                    padding-left: 1.5rem;
                }

                .special-offer-name {
                    font-size: 1.1rem;
                }

                .special-offer-description {
                    font-size: 1rem;
                    padding-left: 1rem;
                }
            }
        }
    }
}