<three-row-grid [dynamicNav]="false">
    <div id="front"></div>
    <div class="special-offers-container">
        <div class="special-offers">
            <div class="special-offer">
                <div class="special-offer-images">
                    <div class="multiple">
                        <fa-icon [icon]="faBus" class="brand-icon twitter"></fa-icon>
                        <fa-icon [icon]="faTruck" class="brand-icon twitter"></fa-icon>
                    </div>
                </div>
                <div class="special-offer-details">
                    <div class="special-offer-name">
                        {{ 'SPECIAL_OFFERS.TB_TITLE' | translate }}
                    </div>
                    <div class="special-offer-description">
                        {{ 'SPECIAL_OFFERS.TB_DESCRIPTION' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</three-row-grid>