<div class="container">
    <div style="padding-top: 3rem;">
        <div class="d-flex justify-content-center">
            <div class="social-media-title">{{ 'FOOTER.SOCIAL_MEDIA' | translate }}</div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/pages/Motel-Mandic/277295112329133?fref=ts" class="brand me-4">
                <fa-icon [icon]="faFacebook" class="brand-icon facebook"></fa-icon>
            </a>
            <a href="https://twitter.com/MotelMandic" class="brand">
                <fa-icon [icon]="faTwitter" class="brand-icon twitter"></fa-icon>
            </a>
        </div>
    </div>
    <div class="sitemap">
        <a routerLink="/">{{ 'COMMON.HOME' | translate }}</a>
        <a routerLink="/accommodation">{{ 'COMMON.ACCOMMODATION' | translate }}</a>
        <a href="/restaurant">{{ 'COMMON.RESTAURANT' | translate }}</a>
        <a href="/special-offers">{{ 'COMMON.SPECIAL_OFFERS' | translate }}</a>
        <a href="/contact">{{ 'COMMON.CONTACT' | translate }}</a>
        <a href="/faq">{{ 'COMMON.FAQ' | translate }}</a>
    </div>
    <div style="padding-top: 1rem;">
        <div class="d-flex justify-content-center align-items-center footer-text">
            {{ 'FOOTER.ADDRESS' | translate }}
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center footer-text mt-2">
            <a class="standard-link-dark me-0 mb-1 me-lg-2 mb-lg-0" href="tel:021/723-266">021/723-266</a>
            <a class="standard-link-dark me-0 me-lg-2" href="tel:+381648395001">064/8395-001</a>
        </div>
        <div class="d-flex justify-content-center align-items-center footer-text mt-2">
            <a class="standard-link-dark" href="mailto:veljkomandic9@gmail.com">veljkomandic9&#64;gmail.com</a>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3 footer-text">
            Copyright © 2023 Motel Mandić
        </div>
        <div class="d-flex justify-content-center align-items-center mb-3 footer-text">
            <span>Developed by
                <a href="https://github.com/dvsku" target="_blank" class="d-inline-block">dvsku</a>
            </span>
        </div>
    </div>
</div>