<div class="container">
    <div style="padding-top: 3rem;">
        <div class="d-flex justify-content-center">
            <div class="social-media-title">FIND US ON SOCIAL MEDIA</div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="" class="brand mr-4">
                <fa-icon [icon]="faFacebook" class="brand-icon facebook"></fa-icon>
            </a>
            <a href="" class="brand">
                <fa-icon [icon]="faTwitter" class="brand-icon twitter"></fa-icon>
            </a>
        </div>
    </div>
    <div class="sitemap">
        <a routerLink="/">HOME</a>
        <a routerLink="/accommodation">ACCOMMODATION</a>
        <a href="">RESTAURANT</a>
        <a href="">SPECIAL OFFERS</a>
        <a href="">CONTACT</a>
        <a href="">FAQ</a>
    </div>
    <div style="padding-top: 1rem;">
        <div class="d-flex justify-content-center align-items-center footer-text">
            Motel Mandić, HIGHWAY E-75 BB, Vrbas, Subotica - Novi Sad 86km
        </div>
        <div class="d-flex justify-content-center align-items-center footer-text">
            021/723-266
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3 footer-text">
            Copyright © 2021 Motel Mandić
        </div>
        <div class="d-flex justify-content-center align-items-center mb-3 footer-text">
            <span>Developed by
                <a href="https://github.com/dvsku" target="_blank" class="d-inline-block">dvsku</a>
            </span>
        </div>
    </div>
</div>