<three-row-grid [dynamicNav]="false">
    <div id="front"></div>
    <div id="information">
        <div #information class="d-flex flex-column check-in-text" snInViewport [inViewportOptions]="{ threshold: .4 }"
            (inViewportChange)="onIntersection($event, information)">
            <div>{{ 'ACCOMMODATION.DESCRIPTION' | translate }}</div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="room flex-column flex-lg-row" #room_1 snInViewport [inViewportOptions]="{ threshold: .35 }"
            (inViewportChange)="onIntersection($event, room_1)">
            <div class="room-image">
                <img src="/assets/accommodations/single_featured.jpeg">
            </div>
            <div class="room-description">
                <div class="room-title right-to-left">{{ 'ACCOMMODATION.ONE_BED_ROOM' | translate }}</div>
                <ul class="pl-4">
                    <li>{{ 'ACCOMMODATION.ONE_BED' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.WIFI' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.PARKING' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.FRIDGE' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.TV' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.BATHROOM' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.HAIR_DRYER' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.AIR_CON' | translate }}</li>
                </ul>
                <div class="room-price">25€ {{ 'COMMON.PER_NIGHT' | translate }}</div>
                <div class="d-flex">
                    <a href="/contact" class="room-book standard-link-btn">{{ 'COMMON.CONTACT_US' | translate }}</a>
                    <a class="standard-link-btn room-book ml-2"
                        (click)="changeGallery(imagesSingle); galleryModal.show()">GALLERY</a>
                </div>
            </div>
        </div>
        <div class="room flex-column-reverse flex-lg-row" #room_2 snInViewport [inViewportOptions]="{ threshold: .35 }"
            (inViewportChange)="onIntersection($event, room_2)">
            <div class="room-description">
                <div class="room-title left-to-right text-lg-right w-100">{{ 'ACCOMMODATION.THREE_BED_ROOM' | translate
                    }}</div>
                <ul class="w-100 text-lg-right pr-lg-4 pl-4 pl-lg-0">
                    <li>{{ 'ACCOMMODATION.THREE_BED' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.WIFI' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.PARKING' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.FRIDGE' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.TV' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.BATHROOM' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.HAIR_DRYER' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.AIR_CON' | translate }}</li>
                </ul>
                <div class="room-price w-100 text-lg-right">75€ {{ 'COMMON.PER_NIGHT' | translate }}</div>
                <div class="d-flex flex-lg-row-reverse w-100">
                    <a href="/contact" class="room-book standard-link-btn">{{ 'COMMON.CONTACT_US' | translate }}</a>
                    <a class="standard-link-btn room-book mr-lg-2 ml-2"
                        (click)="changeGallery(imagesTriple); galleryModal.show()">GALLERY</a>
                </div>
            </div>
            <div class="room-image">
                <img src="/assets/accommodations/triple_featured.jpeg">
            </div>
        </div>
        <div class="room flex-column flex-lg-row" #room_3 snInViewport [inViewportOptions]="{ threshold: .35 }"
            (inViewportChange)="onIntersection($event, room_3)">
            <div class="room-image">
                <img src="/assets/accommodations/apartment_featured.jpeg">
            </div>
            <div class="room-description">
                <div class="room-title right-to-left">{{ 'ACCOMMODATION.APARTMENT' | translate }}</div>
                <ul class="pl-4">
                    <li>{{ 'ACCOMMODATION.APARTMENT_BED' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.WIFI' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.PARKING' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.FRIDGE' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.TV' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.BATHROOM' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.HAIR_DRYER' | translate }}</li>
                    <li>{{ 'ACCOMMODATION.AIR_CON' | translate }}</li>
                </ul>
                <div class="room-price">120€ {{ 'COMMON.PER_NIGHT' | translate }}</div>
                <div class="d-flex">
                    <a href="/contact" class="standard-link-btn room-book">{{ 'COMMON.CONTACT_US' | translate }}</a>
                    <a class="standard-link-btn room-book ml-2"
                        (click)="changeGallery(imagesApartment); galleryModal.show()">GALLERY</a>
                </div>
            </div>
        </div>
    </div>
</three-row-grid>

<generic-modal-wide #galleryModal>
    <div class="gallery-container" body>
        <div class="information">
            <div class="d-flex flex-column justify-content-center align-items-center ml-auto">
                <a class="standard-link-light" (click)="galleryModal.hide()">
                    <fa-icon transform="grow-10" [icon]="faTimes"></fa-icon>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <ngb-carousel *ngIf="selectedImages">
                <ng-template *ngFor="let image of selectedImages" ngbSlide>
                    <img class="carousel-image" [src]="image">
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</generic-modal-wide>