@import '../../../../variables';
@import '../../../../animations';

#front {
    height: 65vh;
    min-height: -webkit-fill-available;
    background: url('/assets/rooms-front.jpeg') no-repeat center center;
    background-size: cover;
    z-index: 996;
}

#information {
    padding: 0rem 2rem;

    @include media-breakpoint-up(lg) {
        padding: 0rem 8rem;
    }
}

.check-in-text {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 4rem 0rem;

    @include media-breakpoint-up(lg) {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        padding: 4rem 0rem;
    }
}

.room {
    display: flex;
    padding: 0rem 0rem;

    @include media-breakpoint-up(lg) {
        min-height: 50vh;
        padding: 0rem 3rem;
    }

    .room-image,
    .room-description {
        flex: 100%;

        @include media-breakpoint-up(lg) {
            flex: 50%;
        }
    }

    .room-image {
        >img {
            width: 100%;
            height: 100%;
        }
    }

    .room-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;

        @include media-breakpoint-up(lg) {
            padding: 2rem 4rem;
        }

        ul {
            margin-top: .5rem;
            list-style-type: none;

            li {
                font-size: 0.9rem;
            }
        }
    }
}

.room-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.room-price {
    font-size: 1rem;
}

.gallery-container {
    width: 100%;

    .information {
        display: flex;
        width: 100%;
        padding: 0 1rem 1rem 1rem;

        @include media-breakpoint-up(lg) {
            padding: 0 4rem 2rem 4rem;
        }
    }
}