<div #detector class="header-detector" [ngStyle]="{'display': (!dynamicNav) ? 'none' : null}" snInViewport
    [inViewportOptions]="{ threshold: 0 }" (inViewportChange)="onIntersection($event, detector)"></div>

<nav class="navbar navbar-expand-lg header">
    <div class="wrapper-small">
        <a id="language-small" class="nav-link standard-link-light header-link" (click)="languageModal.show()">{{
            'HEADER.LANGUAGE' |
            translate
            }}</a>
        <div class="nav-link-separator">
            <div></div>
        </div>
        <button class="navbar-toggler" type="button" (click)="toggleMenu()">
            <fa-icon [icon]="faBars" class="navbar-toggler-icon"></fa-icon>
        </button>
    </div>

    <a class="navbar-brand" routerLink="/"><img class="logo" src="/assets/logos/logo_light.svg"></a>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <div class="navbar-nav ml-auto">
            <a routerLink="/" class="nav-link standard-link-light header-link">{{ 'COMMON.HOME' | translate }}</a>
            <a routerLink="/accommodation" class="nav-link standard-link-light header-link">{{ 'COMMON.ACCOMMODATION' |
                translate }}</a>
            <a routerLink="/restaurant" class="nav-link standard-link-light header-link">{{ 'COMMON.RESTAURANT' |
                translate }}</a>
            <a routerLink="/special-offers" class="nav-link standard-link-light header-link">{{ 'COMMON.SPECIAL_OFFERS'
                | translate }}</a>
            <a routerLink="/contact" class="nav-link standard-link-light header-link">{{ 'COMMON.CONTACT' | translate
                }}</a>
            <a routerLink="/faq" class="nav-link standard-link-light header-link">{{ 'COMMON.FAQ' | translate }}</a>
            <div class="nav-link-separator d-none d-lg-flex">
                <div></div>
            </div>
            <div id="language-large" class="nav-link standard-link-light header-link" (click)="languageModal.show()">{{
                'HEADER.LANGUAGE' |
                translate }}</div>
        </div>
    </div>
</nav>

<generic-modal #languageModal>
    <div class="language-container" body>
        <div class="d-flex justify-content-between w-100 px-3 py-2">
            <div class="title">{{ 'HEADER.LANGUAGE_SELECT' | translate }}</div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <a class="standard-link-dark" (click)="languageModal.hide()">
                    <fa-icon transform="grow-10" [icon]="faTimes"></fa-icon>
                </a>
            </div>

        </div>
        <div class="languages">
            <div class="language">
                <button class="standard-btn" (click)="changeLanguage('en'); languageModal.hide()">
                    <img class="flag" src="/assets/flags/flag_united_kingdoms.svg"> English
                </button>
            </div>
            <div class="language">
                <button class="standard-btn" (click)="changeLanguage('rs'); languageModal.hide()">
                    <img class="flag" src="/assets/flags/flag_serbia.svg"> Srpski
                </button>
            </div>
            <div class="language">
                <button class="standard-btn" (click)="changeLanguage('de'); languageModal.hide()">
                    <img class="flag" src="/assets/flags/flag_germany.svg"> Deutsch
                </button>
            </div>
            <div class="language">
                <button class="standard-btn" (click)="changeLanguage('pl'); languageModal.hide()">
                    <img class="flag" src="/assets/flags/flag_poland.svg"> Polski
                </button>
            </div>
            <div class="language">
                <button class="standard-btn" (click)="changeLanguage('tr'); languageModal.hide()">
                    <img class="flag" src="/assets/flags/flag_turkey.svg"> Türkçe
                </button>
            </div>
        </div>
    </div>
</generic-modal>