@import '../../../variables';
@import '../../../animations';

#front {
    height: 65vh;
    min-height: -webkit-fill-available;
    background: url('/assets/contact-front.jpeg') no-repeat center center;
    background-size: cover;
    z-index: 996;
}

.map {
    iframe {
        height: 50vh;
        width: 100%;

        @include media-breakpoint-up(lg) {
            height: 65vh;
        }
    }
}

.information-container {
    padding: 2rem 1rem 0rem 1rem;

    .information {
        display: flex;
        flex-direction: column-reverse;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        >* {
            flex-basis: 100%;
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0rem 0rem 2rem 0rem;

            @include media-breakpoint-up(lg) {
                padding: 0rem 0rem 0rem 4rem;
            }
        }

        .services {
            padding-bottom: 1rem;
        }

        .service {
            display: flex;

            >*:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5rem;
            }
        }

        .service,
        .contact {
            font-size: 1.2rem;
        }

        .address {
            font-size: 1.4rem;
            padding: 0rem 0rem 1.5rem 0rem;
            opacity: 1;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 2rem 6rem;
    }
}

.icon {
    display: inline-block;
    margin-right: .4rem;
}