<three-row-grid>
    <div id="front" style="background: url('assets/motel-front.jpeg') no-repeat center 30%">
        <div class="overlay">
            <div class="contact">
                <div class="d-flex flex-column px-4 py-4">
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pe-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{ 'CONTACT.SERVICE_MOTEL' |
                            translate }}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pe-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{ 'CONTACT.SERVICE_FUEL_STATION' |
                            translate }}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pe-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{
                            'CONTACT.SERVICE_CONVENIENCE_STORE' | translate }}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pe-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{ 'CONTACT.SERVICE_RESTAURANT' |
                            translate }}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pe-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{ 'CONTACT.SERVICE_CAR' |
                            translate }}</div>
                    </div>
                    <a href="" class="standard-link-btn mt-2" style="padding: 0.5rem 3rem;">{{ 'COMMON.CONTACT_US' |
                        translate }}</a>
                </div>
            </div>
            <div class="info">
                <div>{{ 'COMMON.NAME' | translate }}</div>
                <div>{{ 'HOME.INFO.DESCRIPTION' | translate }}</div>
            </div>
        </div>
    </div>
    <div id="introduction" inViewport [inViewportOptions]="{ threshold: [.4] }"
        (inViewportAction)=" onIntersection($event)">
        <div class="introduction-container">
            <div>{{ 'HOME.INTRODUCTION.TITLE' | translate }}</div>
            <div>{{ 'HOME.INTRODUCTION.DESCRIPTION' | translate }}</div>
        </div>
    </div>
    <div id="services" inViewport [inViewportOptions]="{threshold : [.20]}" (inViewportAction)="onIntersection($event)">
        <div class="container-with-zoom-image rooms-container">
            <a href="/accommodation">
                <div class="image" style="background: url('assets/rooms.jpeg') no-repeat center center"></div>
                <div class="overlay">
                    <div class="d-flex flex-column">
                        <div class="service-title">{{ 'HOME.SERVICES.ROOMS' | translate }}</div>
                        <div class="d-flex flex-row-reverse align-items-center">
                            <a href="/accommodation" class="standard-link-btn" style="padding: 0.5rem 1rem;">
                                {{ 'HOME.SERVICES.ROOMS_SEE' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="container-with-zoom-image restaurant-container">
            <a href="/restaurant">
                <div class="image" style="background: url('assets/restaurant.jpeg') no-repeat center center"></div>
                <div class="overlay">
                    <div class="d-flex flex-column">
                        <div class="service-title">{{ 'HOME.SERVICES.RESTAURANT' | translate }}</div>
                        <div class="d-flex flex-row-reverse align-items-center">
                            <a href="/restaurant" class="standard-link-btn" style="padding: 0.5rem 1rem;">
                                {{ 'HOME.SERVICES.RESTAURANT_SEE' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</three-row-grid>