@import '../../../variables';
@import '../../../animations';

#front {
    height: 65vh;
    min-height: -webkit-fill-available;
    background: url('/assets/restaurant.jpeg') no-repeat center center;
    background-size: cover;
    z-index: 996;
}

.restaurant-container {
    padding: 2rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(lg) {
        padding: 2rem 12% 0rem 12%;
    }

    .category {
        width: min(90vw, 45rem);
    

        .category-name {
            font-size: 1.1rem;
            font-weight: 600;
            padding-bottom: .5rem;

            @include media-breakpoint-up(lg) {  
                opacity: 0;
                transform: translateX(50%);
            }
        }

        .products {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;

            .product {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @include media-breakpoint-up(lg) {  
                    opacity: 0;
                }

                .product-name {
                    font-size: 1rem;
                }

                .product-price {
                    font-size: 1rem;
                }
            }

            .product:not(:last-child) {
                padding-bottom: .3rem;
            }
        }
    }

    .category:not(:last-child) {
        padding-bottom: 1rem;
    }

    &.visible {
        .category.soups {
            .category-name {
                @include media-breakpoint-up(lg) {  
                    @include animation(animation-fade-in-pop-right-to-left, .3s, ease-out, 0s, forwards);
                }
            }

            .products {
                @include media-breakpoint-up(lg) { 
                    @for $i from 1 through 1 {
                        .product:nth-child(#{$i}) {
                            @include media-breakpoint-up(lg) {  
                                @include animation(animation-opacity-fade-in, .3s, linear, $i * 0.3s, forwards);
                            }
                        }
                    }
                }
            }
        }
        
        .category.goulash {
            .category-name {
                @include media-breakpoint-up(lg) {  
                    @include animation(animation-fade-in-pop-right-to-left, .3s, ease-out, 0.6s, forwards);
                }
            }

            .products {
                @include media-breakpoint-up(lg) { 
                    @for $i from 1 through 1 {
                        .product:nth-child(#{$i}) {
                            @include media-breakpoint-up(lg) {  
                                @include animation(animation-opacity-fade-in, .3s, linear, $i * 0.9s, forwards);
                            }
                        }
                    }
                }
            }
        }

        .category.meat {
            .category-name {
                @include media-breakpoint-up(lg) {  
                    @include animation(animation-fade-in-pop-right-to-left, .3s, ease-out, 1.2s, forwards);
                }
            }

            .products {
                @include media-breakpoint-up(lg) { 
                    @for $i from 1 through 10 {
                        .product:nth-child(#{$i}) {
                            @include media-breakpoint-up(lg) {  
                                @include animation(animation-opacity-fade-in, .3s, linear, $i * .3s + 1.4s, forwards);
                            }
                        }
                    }
                }
            }
        }

        .category.salads {
            .category-name {
                @include media-breakpoint-up(lg) {  
                    @include animation(animation-fade-in-pop-right-to-left, .3s, ease-out, 4.4s, forwards);
                }
            }

            .products {
                @include media-breakpoint-up(lg) { 
                    @for $i from 1 through 2 {
                        .product:nth-child(#{$i}) {
                            @include media-breakpoint-up(lg) {  
                                @include animation(animation-opacity-fade-in, .3s, linear, $i * .3s + 4.4s, forwards);
                            }
                        }
                    }
                }
            }
        }

        .category.sides {
            .category-name {
                @include media-breakpoint-up(lg) {  
                    @include animation(animation-fade-in-pop-right-to-left, .4s, ease-out, 5s, forwards);
                }
            }

            .products {
                @include media-breakpoint-up(lg) { 
                    @for $i from 1 through 1 {
                        .product:nth-child(#{$i}) {
                            @include media-breakpoint-up(lg) {  
                                @include animation(animation-opacity-fade-in, .3s, linear, $i * .3s + 5s, forwards);
                            }
                        }
                    }
                }
            }
        }
    }
}