@import '../../../variables';
@import '../../../animations';

#front {
    height: 65vh;
    min-height: -webkit-fill-available;
    background-size: cover;
    z-index: 996;
}

.restaurant-container {
    padding: 2rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(lg) {
        padding: 2rem 12% 0rem 12%;
    }
}