<three-row-grid>
    <div id="front">
        <div class="overlay">
            <div class="contact">
                <div class="d-flex flex-column px-4 py-4">
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pr-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{ 'CONTACT.SERVICE_MOTEL' |
                            translate }}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pr-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{ 'CONTACT.SERVICE_FUEL_STATION' |
                            translate }}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pr-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{
                            'CONTACT.SERVICE_CONVENIENCE_STORE' | translate }}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pr-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{ 'CONTACT.SERVICE_RESTAURANT' |
                            translate }}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faCheck" class="fc-accent pr-2"></fa-icon>
                        <div class="d-inline-block ls-1" style="font-size: 0.9rem;">{{ 'CONTACT.SERVICE_CAR' |
                            translate }}</div>
                    </div>
                    <a href="" class="standard-link-btn mt-2" style="padding: 0.5rem 3rem;">{{ 'COMMON.CONTACT_US' |
                        translate }}</a>
                </div>
            </div>
            <div class="info">
                <div>{{ 'COMMON.NAME' | translate }}</div>
                <div>{{ 'HOME.INFO.DESCRIPTION' | translate }}</div>
            </div>
        </div>
    </div>
    <div id="introduction">
        <div #introduction class="introduction-container" snInViewport [inViewportOptions]="{ threshold: 1 }"
            (inViewportChange)="onIntersection($event, introduction)">
            <div>{{ 'HOME.INTRODUCTION.TITLE' | translate }}</div>
            <div>{{ 'HOME.INTRODUCTION.DESCRIPTION' | translate }}</div>
        </div>
    </div>
    <div id="services">
        <div #rooms class="container-with-zoom-image rooms-container" snInViewport
            [inViewportOptions]="{threshold : .25}" (inViewportChange)="onIntersection($event, rooms)">
            <a href="/accommodation">
                <div class="image"></div>
                <div class="overlay">
                    <div class="d-flex flex-column">
                        <div class="service-title">{{ 'HOME.SERVICES.ROOMS' | translate }}</div>
                        <div class="d-flex flex-row-reverse align-items-center">
                            <a href="/accommodation" class="standard-link-btn" style="padding: 0.5rem 1rem;">
                                {{ 'HOME.SERVICES.ROOMS_SEE' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div #restaurant class="container-with-zoom-image restaurant-container" snInViewport
            [inViewportOptions]="{threshold : .25}" (inViewportChange)="onIntersection($event, restaurant)">
            <a href="/restaurant">
                <div class="image"></div>
                <div class="overlay">
                    <div class="d-flex flex-column">
                        <div class="service-title">{{ 'HOME.SERVICES.RESTAURANT' | translate }}</div>
                        <div class="d-flex flex-row-reverse align-items-center">
                            <a href="/restaurant" class="standard-link-btn" style="padding: 0.5rem 1rem;">
                                {{ 'HOME.SERVICES.RESTAURANT_SEE' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- <div id="special-offers">
        <div #specialOffersImage class="container-with-zoom-image offers-image-container" snInViewport
            [inViewportOptions]="{threshold : .35}" (inViewportChange)="onIntersection($event, specialOffersImage)">
            <a href="">
                <div class="image"></div>
            </a>
        </div>
        <div class="offers-container">
            <div class="overlay">
                <div class="d-flex flex-column justify-content-center">
                    <div class="special-offers-title">SPECIAL OFFERS</div>
                    <div class="d-flex flex-column pl-4 pt-2">
                        <div class="d-flex flex-column">
                            <div class="special-offer-title">TRUCK AND BUS DRIVERS</div>
                            <div class="special-offer-description pl-4 mt-2">Truck drivers get a free shower and
                                bus drivers get 3 free meals and 3 free drinks. Please come to the reception to
                                get the bonus.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <a href="" class="service-btn">SEE SPECIAL OFFERS</a>
                </div>
            </div>
        </div>
    </div> -->
</three-row-grid>