<three-row-grid [dynamicNav]="false">
    <div id="front"></div>
    <div class="faq-container" #container snInViewport [inViewportOptions]="{ threshold: .45 }"
        (inViewportChange)="onIntersection($event, container)">
        <div class="general-questions">
            <div class="text-center text-lg-right">{{ 'FAQ.GENERAL_QUESTIONS' | translate }}</div>
            <div>
                <div class="question">
                    <div>{{ 'FAQ.Q_1' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_1' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_2' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_2' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_3' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_3' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_4' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_4' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_5' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_5' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_6' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_6' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_7' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_7' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_8' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_8' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_9' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_9' | translate }}</div>
                </div>

                <div class="question">
                    <div>{{ 'FAQ.Q_10' | translate }}</div>
                    <div class="answer">{{ 'FAQ.A_10' | translate }}</div>
                </div>

            </div>
        </div>

    </div>
</three-row-grid>