@import '../../../variables';
@import '../../../animations';

#front {
    height: 65vh;
    min-height: -webkit-fill-available;
    background: url('/assets/faq-front.jpeg') no-repeat center center;
    background-size: cover;
    z-index: 996;
}

.faq-container {
    padding: 2rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .general-questions {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include media-breakpoint-up(lg) {  
            flex-direction: row;
        }

        > div:first-child {
            font-size: 1.2rem;
            font-weight: 600;
            padding-bottom: 1rem;

            @include media-breakpoint-up(lg) {  
                flex-basis: 40%;
                font-size: 1.2rem;
                font-weight: 600;
                padding-right: 2rem;
            }
        }

        > div:last-child {
            flex-basis: 60%;
        }
    }

    .question {
        font-size: 1.3rem;
        
        > div:first-child {
            @include media-breakpoint-up(lg) {  
                opacity: 0;
                transform: translateX(50%);
            }
        }

        .answer {
            font-size: 1rem;
            padding-left: 1rem;

            @include media-breakpoint-up(lg) {  
                opacity: 0;
            }
        }
    }

    .question:not(:last-child) {
        padding-bottom: .5rem;
    }

    &.visible {


        @include media-breakpoint-up(lg) { 
            @for $i from 1 through 20 {
                .question:nth-child(#{$i}) {
                    > div:first-child {
                        @include media-breakpoint-up(lg) {  
                            @include animation(animation-fade-in-pop-right-to-left, .4s, ease-out, $i * 0.4s, forwards);
                        }
                    }
                    
                    .answer {
                        @include media-breakpoint-up(lg) {  
                            @include animation(animation-opacity-fade-in, .4s, linear, $i * 0.4s + 0.5s, forwards);
                        }
                    }
                }
            }
        }
    }
}