@import '_mixins';

@mixin animation($name, $duration, $timing-function, $delay, $direction) {
    -webkit-animation: #{$name} $duration #{$timing-function} $delay #{$direction};
    -moz-animation: #{$name} $duration #{$timing-function} $delay #{$direction};
    -ms-animation: #{$name} $duration #{$timing-function} $delay #{$direction};
    -o-animation: #{$name} $duration #{$timing-function} $delay #{$direction};
    animation: #{$name} $duration #{$timing-function} $delay #{$direction};
}

@mixin animation-loop($name, $duration, $timing-function, $delay) {
    -webkit-animation: #{$name} $duration #{$timing-function} $delay infinite alternate;
    -moz-animation: #{$name} $duration #{$timing-function} $delay infinite alternate;
    -ms-animation: #{$name} $duration #{$timing-function} $delay infinite alternate;
    -o-animation: #{$name} $duration #{$timing-function} $delay infinite alternate;
    animation: #{$name} $duration #{$timing-function} $delay infinite alternate;
}


/////////////////////////////////////////////////////////////////////////////////////////
// DEFAULT
/////////////////////////////////////////////////////////////////////////////////////////

@include animation-opacity-fade-in(animation-opacity-fade-in);
@include animation-scale(animation-scale-none-to-full, 0, 1);

/////////////////////////////////////////////////////////////////////////////////////////
// SPECIFIC USE CASE
/////////////////////////////////////////////////////////////////////////////////////////

@include animation-fade-in-pop-down(animation-room-information, 0, 1, -30%, 0%);
@include animation-fade-in-pop-down(animation-home-introduction, 0, 1, -50%, 0%);

@include animation-fade-in-pop-x(animation-room-title-right-to-left, 0, 1, 50%, 0%);
@include animation-fade-in-pop-x(animation-room-title-left-to-right, 0, 1, -50%, 0%);

@include animation-overlay-fade-out(animation-overlay-fade-out);

@include animation-logo-scale-loop(animation-overlay-logo)