//////////////////////////////////////////////////////////////////////////////////////////////////////////
// ANIMATIONS
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation-fade-in-pop-down($name, $s_o, $e_o, $s_t, $e_t) {
    @include keyframes($name) {
        0% { opacity: $s_o; transform: translateY($s_t); }
        100% { opacity: $e_o; transform: translateY($e_t); }
    }
}

@mixin animation-fade-in-pop-x($name, $s_o, $e_o, $s_t, $e_t) {
    @include keyframes($name) {
        0% { opacity: $s_o; transform: translateX($s_t); }
        100% { opacity: $e_o; transform: translateX($e_t); }
    }
}

@mixin animation-height-increase($name, $s_h, $e_h) {
    @include keyframes($name) {
        0% { height: $s_h; }
        100% { height: $e_h; }
    }
}

@mixin animation-opacity-fade-in($name) {
    @include keyframes($name) {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}

@mixin animation-scale($name, $s_s, $e_s) {
    @include keyframes($name) {
        0% { transform: scale($s_s); }
        100% { transform: scale($e_s); }
    }
}

@mixin animation-overlay-fade-out($name) {
    @include keyframes($name) {
        0% { opacity: 1; }
        100% { opacity: 0; visibility: hidden; }
    }
}

@mixin animation-logo-scale-loop($name) {
    @include keyframes($name) {
        0% { transform: scale(0.9); }
        50% { transform: scale(1);}
        100% { transform: scale(1.1); }
    }    
}

@mixin animation-header-nav-fade-in-right-to-left($name) {
    @include keyframes($name) {
        0% { opacity: 0; transform: translateX(100%); }
        75% { opacity: 0.4; }
        100% { opacity: 1; transform: translateX(0); }
    }  
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
// TEXT
//////////////////////////////////////////////////////////////////////////////////////////////////////////

$letter-spacings: 10;

@mixin letter-spacing {
    @for $i from 1 through $letter-spacings {
        .ls-#{$i} { 
            letter-spacing: 0.5 + ($i * 0.5);
        }
    }
}