@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap-grid';

$font-size-normal: 0.8rem;

$text-accent: #2D9386;

$color-first: #E0E0E0;
$color-second: #FFFFFF;
$color-fourth: #11ABE2;
$color-fifth: #232323;

$font-color-first: $color-fifth;

$font-color-hover: $color-fourth;